<app-header></app-header>

<ion-content class="ion-padding" fullscreen>
  <div class="home-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Lista clases</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none" style="border-radius: 8px; margin-bottom: 10px; padding: 10px; background-color: #f9f9f9;">
            <ion-label>
              <h2 style="color: #4CAF50;">MAT101</h2>
              <p style="color: white;">Sala: 230</p>
              <p style="color: white;">Hora: 10:00 AM</p>
            </ion-label>
            <ion-button slot="end" color="primary">Generar codigo QR</ion-button>
          </ion-item>

          <ion-item lines="none" style="border-radius: 8px; margin-bottom: 10px; padding: 10px; background-color: #f9f9f9;">
            <ion-label>
              <h2 style="color: #4CAF50;">BIO202</h2>
              <p style="color: white;">Sala: 230</p>
              <p style="color: white;">Hora: 11:30 AM</p>
            </ion-label>
            <ion-button slot="end" color="primary">Generar codigo QR</ion-button>
          </ion-item>

          <ion-item lines="none" style="border-radius: 8px; margin-bottom: 10px; padding: 10px; background-color: #f9f9f9;">
            <ion-label>
              <h2 style="color: #4CAF50;">HIS303</h2>
              <p style="color: white;">Sala: 230</p>
              <p style="color: white;">Hora: 1:00 PM</p>
            </ion-label>
            <ion-button slot="end" color="primary">Generar codigo QR</ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<app-footer></app-footer>
