ion-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 12px; /* Ajusta el tamaño del texto */
  padding: 5px 10px; /* Ajusta el padding */
  background-color: white; /* Fondo blanco */
  color: #572364; /* Texto de color oscuro */
}
